@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

    --color-ghost-black: #000000;
    --color-ghost-charcoal: #0A0A0A;
    --color-ghost-cyan: #00F0FF;
    --color-ghost-amber: #FFB800;
    --color-ghost-red: #FF3B30;
    --color-ghost-violet: #8B5CF6;
}

@layer base {
    body {
        @apply bg-ghost-black text-white font-sans antialiased selection:bg-ghost-cyan selection:text-black;
    }

    /* Custom Scrollbar for the Ghost Look */
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-ghost-black;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-ghost-charcoal border border-white/10 rounded-full hover:bg-ghost-cyan/50;
    }
}
